<!DOCTYPE html>
<html>
<head>
<title>{{title}}</title>
<link rel='stylesheet' href='/stylesheets/style1.css' />
<link rel='stylesheet' href='/stylesheets/detail.css' />
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="assets/css/style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Poppins:ital,wght@0,400;0,500;1,200&family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
{{!-- header --}}
<div class="container">
<div class="header">
    <div class="header-top">
        <div class="logo-header">
            <img src="./images/logo3.png" alt="logo">
        </div>
        <div class="row-header">
            <form class="search-form">
                <input type="text" class="search-input" placeholder="Tìm kiếm">
                <button type="button" class="search-button"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
        </div>
        <div class="title-rigth">
            <li><a href="#" class="">
                <i class="fa-solid fa-phone"></i>
                <span>0880 2308</span>
            </a></li>
        </div>
        <div class="title-rigth">
            <li><a href="#" class="">
                <i class="fa-solid fa-headphones"></i>
                <span>Tư vấn miễn phí</span>   
            </a></li>
        </div>
        <div class="title-rigth">
            <li><a href="#" class="">
                <i class="fa-solid fa-location-dot"></i>
                <span>Tìm kiếm cửa hàng</span>   
            </a></li>
        </div>
        <div class="title-rigth">
            <li><a href="#" class="">
                <i class="fa-regular fa-circle-user"></i>
                <span>Quản trị</span>   
            </a></li>
        </div>
        
    </div>
    <div class="menu-header">
        <div class="row-menu-header">
            <div class="menu-left">
                <li><a href="/"><i class="fa-solid fa-house" ></i>Trang chủ</a></li>
                <li><a href="#">Sản phẩm</a></li>
                <li><a href="#">Giới thiệu</a></li>
                <li><a href="#">Bài viết</a></li>
                <li><a href="#">Liên hệ</a></li>
            </div>
            <div class="content-header">
                <!-- <div class="taikhoan-header"> -->
                    <li><a href="./login.html" class="nav-link">
                        <i class="fa-solid fa-user"></i>
                        <span>Tài khoản</span>
                    </a></li>
                <!-- </div> -->
                <!-- <div class="taikhoan-header"> -->
                    <li><a href="./cart.html" class="nav-link">
                        <i class="fa-solid fa-bag-shopping"></i>
                        <span>Giỏ hàng</span></a></li>
                <!-- </div> -->
            </div>
        </div>
        
    </div>
</div>
        <div class="banner">
            <img src="/images/banne.webp" alt="">
        </div>

        <div class="catalog-list">
            <div class="col-catalog">
                <div class="img-catalog">
                    <img src="/images/img_category_1.webp" alt="">
                </div>
                <div class="name-catalog">Áo thun</div>
            </div>
            <div class="col-catalog">
                <div class="img-catalog">
                    <img src="/images/img_category_2.webp" alt="">
                </div>
                <div class="name-catalog">Áo khoác</div>
            </div>            
            <div class="col-catalog">
                <div class="img-catalog">
                    <img src="/images/img_category_4.webp" alt="">
                </div>
                <div class="name-catalog">Quần</div>
            </div>
            <div class="col-catalog">
                <div class="img-catalog">
                    <img src="/images/Balo.png" alt="">
                </div>
                <div class="name-catalog">Balo</div>
            </div>
        </div>
        
        <div class="products-new">
            <h2 class="title">SẢN PHẨM MỚI NHẤT</h2>
            <div class="list-products">
                {{#each product}}
                <div class="col-4">
                    <a href="/index/{{this._id}}">
                        <div class="img-product">
                        <img src="/images/{{this.img}}" alt="">
                    </div>
                    </a>
                    <div class="name-product">
                        {{this.name}}
                    </div>
                    <div class="price-product">
                        {{this.price}}
                    </div>
                    <div class="btn-product">
                        <a href="#" class="view">Mua ngay</i></a>
                        <a href="#" class="add">Thêm</i></a>
                    </div>
                </div>
                {{/each}}
            </div>
            <div class="btn-main">
                <a href="#"><button class="btn-pri">Xem tất cả</button></a>
            </div>
            
        </div>

        <div class="section-deal">
            <img src="./images/banner2.webp" alt="">
        </div>
        <h2 class="title">DÀNH CHO BẠN</h2>
        <div class="product">
            <ul class="tab-product">
                <a href="#">
                    <h2>Áo Khoác</h2>
                </a>
    
            </ul>
            <div class="your-product">
                <div class="list-products">
                    {{#each aokhoac}}
                    <div class="col-4">
                        <a href="/index/{{this._id}}">
                            <div class="img-product">
                            <img src="/images/{{this.img}}" alt="">
                        </div>
                        </a>
                        <div class="name-product">
                            {{this.name}}
                        </div>
                        <div class="price-product">
                            {{this.price}}
                        </div>
                        <div class="btn-product">
                            <a href="#" class="view">Mua ngay</i></a>
                            <a href="#" class="add">Thêm</i></a>
                        </div>
                    </div>
                {{/each}}
                    {{!-- <div class="col-4">
                        <div class="img-product">
                            <img src="/images/khoac4.webp" alt="">
                        </div>
                        <div class="name-product">
                            Áo thun vibas white
                        </div>
                        <div class="price-product">
                            450.000đ
                        </div>
                        <div class="btn-product">
                            <a href="#" class="view"><i class="fa-solid fa-heart"></i></a>
                            <a href="#" class="add"><i class="fa-solid fa-bag-shopping"></i></a>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="img-product">
                            <img src="/images/khoac1.webp" alt="">
                        </div>
                        <div class="name-product">
                            Áo thun vibas white
                        </div>
                        <div class="price-product">
                            450.000đ
                        </div>
                        <div class="btn-product">
                            <a href="#" class="view"><i class="fa-solid fa-heart"></i></a>
                            <a href="#" class="add"><i class="fa-solid fa-bag-shopping"></i></a>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="img-product">
                            <img src="/images/khoac2.webp" alt="">
                        </div>
                        <div class="name-product">
                            Áo thun vibas white
                        </div>
                        <div class="price-product">
                            450.000đ
                        </div>
                        <div class="btn-product">
                            <a href="#" class="view"><i class="fa-solid fa-heart"></i></a>
                            <a href="#" class="add"><i class="fa-solid fa-bag-shopping"></i></a>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="img-product">
                            <img src="/images/khoac3.webp" alt="">
                        </div>
                        <div class="name-product">
                            Áo thun vibas white
                        </div>
                        <div class="price-product">
                            450.000đ
                        </div>
                        <div class="btn-product">
                            <a href="#" class="view"><i class="fa-solid fa-heart"></i></a>
                            <a href="#" class="add"><i class="fa-solid fa-bag-shopping"></i></a>
                        </div>
                    </div> --}}
                </div>
                <!-- <div class="btn-main"> -->
                    <!-- <a href="#"><button class="btn-pri">Xem tất cả</button></a>
                </div> -->
            </div>
        </div>
        <div class="product">
            <ul class="tab-product">
                <a href="#">
                    <h2>Quần</h2>
                </a>
    
            </ul>
            <div class="your-product">
                <div class="list-products">
                    {{#each quan}}
                    <div class="col-4">
                        <a href="/index/{{this._id}}">
                            <div class="img-product">
                            <img src="/images/{{this.img}}" alt="">
                        </div>
                        </a>
                        <div class="name-product">
                            {{this.name}}
                        </div>
                        <div class="price-product">
                            {{this.price}}
                        </div>
                        <div class="btn-product">
                            <a href="#" class="view">Mua ngay</i></a>
                            <a href="#" class="add">Thêm</i></a>
                        </div>
                    </div>
                {{/each}}
                    {{!-- <div class="col-4">
                        <div class="img-product">
                            <img src="/images/quan1.webp" alt="">
                        </div>
                        <div class="name-product">
                            Áo thun vibas white
                        </div>
                        <div class="price-product">
                            450.000đ
                        </div>
                        <div class="btn-product">
                            <a href="#" class="view"><i class="fa-solid fa-heart"></i></a>
                            <a href="#" class="add"><i class="fa-solid fa-bag-shopping"></i></a>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="img-product">
                            <img src="/images/quan2.webp" alt="">
                        </div>
                        <div class="name-product">
                            Áo thun vibas white
                        </div>
                        <div class="price-product">
                            450.000đ
                        </div>
                        <div class="btn-product">
                            <a href="#" class="view"><i class="fa-solid fa-heart"></i></a>
                            <a href="#" class="add"><i class="fa-solid fa-bag-shopping"></i></a>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="img-product">
                            <img src="/images/quan3.webp" alt="">
                        </div>
                        <div class="name-product">
                            Áo thun vibas white
                        </div>
                        <div class="price-product">
                            450.000đ
                        </div>
                        <div class="btn-product">
                            <a href="#" class="view"><i class="fa-solid fa-heart"></i></a>
                            <a href="#" class="add"><i class="fa-solid fa-bag-shopping"></i></a>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="img-product">
                            <img src="/images/quan4.webp" alt="">
                        </div>
                        <div class="name-product">
                            Áo thun vibas white
                        </div>
                        <div class="price-product">
                            450.000đ
                        </div>
                        <div class="btn-product">
                            <a href="#" class="view"><i class="fa-solid fa-heart"></i></a>
                            <a href="#" class="add"><i class="fa-solid fa-bag-shopping"></i></a>
                        </div>
                    </div> --}}
                </div>
                <div class="btn-main">
                    <a href="#"><button class="btn-pri">Xem tất cả</button></a>
                </div>
            </div>
        </div>
        <div class="product">
            <ul class="tab-product">
                <a href="#">
                    <h2>Balo</h2>
                </a>
    
            </ul>
            <div class="your-product">
                <div class="list-products">
                    {{#each balo}}
                    <div class="col-4">
                        <a href="/index/{{this._id}}">
                            <div class="img-product">
                            <img src="/images/{{this.img}}" alt="">
                        </div>
                        </a>
                        <div class="name-product">
                            {{this.name}}
                        </div>
                        <div class="price-product">
                            {{this.price}}
                        </div>
                        <div class="btn-product">
                            <a href="#" class="view">Mua ngay</i></a>
                            <a href="#" class="add">Thêm</i></a>
                        </div>
                    </div>
                {{/each}}
                    {{!-- <div class="col-4">
                        <div class="img-product">
                            <img src="/images/balo1.webp" alt="">
                        </div>
                        <div class="name-product">
                            Áo thun vibas white
                        </div>
                        <div class="price-product">
                            450.000đ
                        </div>
                        <div class="btn-product">
                            <a href="#" class="view"><i class="fa-solid fa-heart"></i></a>
                            <a href="#" class="add"><i class="fa-solid fa-bag-shopping"></i></a>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="img-product">
                            <img src="/images/balo2.webp" alt="">
                        </div>
                        <div class="name-product">
                            Áo thun vibas white
                        </div>
                        <div class="price-product">
                            450.000đ
                        </div>
                        <div class="btn-product">
                            <a href="#" class="view"><i class="fa-solid fa-heart"></i></a>
                            <a href="#" class="add"><i class="fa-solid fa-bag-shopping"></i></a>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="img-product">
                            <img src="/images/balo3.webp" alt="">
                        </div>
                        <div class="name-product">
                            Áo thun vibas white
                        </div>
                        <div class="price-product">
                            450.000đ
                        </div>
                        <div class="btn-product">
                            <a href="#" class="view"><i class="fa-solid fa-heart"></i></a>
                            <a href="#" class="add"><i class="fa-solid fa-bag-shopping"></i></a>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="img-product">
                            <img src="/images/balo4.webp" alt="">
                        </div>
                        <div class="name-product">
                            Áo thun vibas white
                        </div>
                        <div class="price-product">
                            450.000đ
                        </div>
                        <div class="btn-product">
                            <a href="#" class="view"><i class="fa-solid fa-heart"></i></a>
                            <a href="#" class="add"><i class="fa-solid fa-bag-shopping"></i></a>
                        </div>
                    </div> --}}
                </div>
                <div class="btn-main">
                    <a href="#"><button class="btn-pri">Xem tất cả</button></a>
                </div>
            </div>
        </div>
        <!-- Tin tức -->
        <h2 class="title">TIN TỨC</h2>
        <div class="news">
            <div class="list-news">
                <div class="col-list-news">
                    <div class="img-news">
                        <img src="/images/sale.avif"  alt="">
                    </div>
                    <div class="tintuc-content">
                        <div class="title-news">TOTO® F/W23 COLLECTION  </div>
                        <div class="date-news">23-08-2024</div>
                        <div class="text-news">Nhân dịp Thu Đông cuối năm 2023, để khích lệ sự khác biệt,
                             chất riêng trong thời trang của các bạn trẻ, Levents quyết định cho ra mắt
                              bộ sưu tập mới với chất lượng vượt trội và lối thiết kế tối giản, hướng 
                              đến thời trang bền vững. Nhờ đó, các bạn trẻ có thể thoải mái tự tin chia
                               sẻ màu sắc cá nhân trong cuộc sống hằng ngày, đơn giản nhưng nổi bật thông 
                               qua việc mix&match các sản phẩm của Levents ở bất kỳ đâu, bất kỳ lúc nào.

                            Xem thêm</div>
                        <div class="bnt-tintuc"><button>Đọc Thêm</button></div>
                    </div>
                </div>
                <div class="col-list-news">
                    <div class="tintuc-content">
                        <div class="title-news">    "Share your dreams, together we build a better world."                        </div>
                        <div class="date-news">23-08-2024</div>
                        <div class="text-news">Với khẩu hiệu "Share your dreams, together we build a better world.", 
                            tụi mình mong muốn được đồng hành, cổ vũ thế hệ trẻ trên hành trình phát triển bản thân,
                             hướng đến một cộng đồng tích cực nơi mà mọi người có thể tự tin thể hiện màu sắc cá nhân.</div>
                             <div class="bnt-tintuc"><button>Đọc Thêm</button></div>
                    </div>
                    <div class="img-news">
                        <img src="/images/new3.avif" alt="">
                    </div>  
                </div>
                <div class="col-list-news">
                    <div class="img-news">
                        <img src="/images/new4.avif" alt="">
                    </div>
                    <div class="tintuc-content">
                        <div class="title-news">DON’T BOTHER ME I'M IN TOTO ClOSTHING®</div>
                        <div class="date-news">23-08-2024</div>
                        <div class="text-news">Bằng tất cả sự chân thành, TOTO® cám ơn bạn vì 
                            đã lựa chọn sản phẩm của chúng mình để thể hiện phong cách của bản
                             thân. Chúng mình tin rằng ở từng đường kim mũi chỉ trong sản phẩm 
                             sẽ dệt nên những điều không tưởng, những điều sẽ vượt qua khoảng 
                             cách của các thế hệ, giới tính, biên giới… để giúp cho bạn chứng 
                             minh được rằng LIFESTYLE của bạn tuyệt vời như thế nào.</div>
                        <div class="bnt-tintuc"><button>Đọc Thêm</button></div>
                    </div>
                </div>
            </div>
            <div class="btn-main">
                <a href="#"><button class="btn-pri">Xem tất cả</button></a>
            </div>
        </div>
        
        <div class="service">
            <div class="col-service">
                <div class="icon-service">
                    <i class="fa-solid fa-rotate-right"></i>
                </div>
                <div class="title-service">
                    <h2>7 ngày miễn phí trả hàng</h2>
                    <p>Cho đơn hàng bị sai sót</p>
                </div>
            </div>
            <div class="col-service">
                <div class="icon-service">
                    <i class="fa-solid fa-box-open"></i>
                </div>
                <div class="title-service">
                    <h2>Giao hàng tận nơi</h2>
                    <p>Đổi hàng trong vòng 7 ngày</p>
                </div>
            </div>
            <div class="col-service">
                <div class="icon-service">
                    <i class="fa-solid fa-circle-check"></i>
                </div>
                <div class="title-service">
                    <h2>Hàng chính hãng 100%</h2>
                    <p>Đa dạng hình thức thanh toán</p>
                </div>
            </div>
            <div class="col-service">
                <div class="icon-service">
                    <i class="fa-solid fa-comments"></i>
                </div>
                <div class="title-service">
                    <h2>Tư vấn miễn phí</h2>
                    <p>Hỗ trợ tư vấn 24/7</p>
                </div>
            </div>
        </div>
            {{!-- footer --}}
<div class="footer">
    <!-- Begin Footer Static Middle Area -->
    <div class="footer-static-middle">
        <div class="containerr">
            <div class="footer-logo-wrap pt-50 pb-35">
                <div class="row">
                    <!-- Begin Footer Logo Area -->
                    <div class="col-lg-4 col-md-6">
                        <div class="footer-logo">
                            <img src="./images/logo5.png" alt="Footer Logo">
                        </div>
                        <ul class="des">
                            <li>
                                Địa chỉ: 
                                Công viên phần mềm Quang Trung, Quận 12, TP Hồ Chí Minh
                            </li>
                            <li>
                                Số điện thoại:(+123) 123 321 345
                            </li>
                            <li>
                                Email: jodd23855@gmail.com
                            </li>
                        </ul>
                    </div>
                    <!-- Footer Logo Area End Here -->
                    <!-- Begin Footer Block Area -->
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <div class="footer-block">
                            <h3 class="footer-block-title">Thông tin</h3>
                            <ul>
                                <li><a href="#">Giới thiệu</a></li>
                                <li><a href="#">Liên hệ công ty</a></li>
                                <li><a href="#">Liên hệ hợp tác</a></li>
                                <li><a href="#">Gia nhập TOTODAY</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Footer Block Area End Here -->
                    <!-- Begin Footer Block Area -->
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <div class="footer-block">
                            <h3 class="footer-block-title">Chính sách</h3>
                            <ul>
                                <li><a href="#">Chính sách thành viên</a></li>
                                <li><a href="#">Chính sách hoàn tiền</a></li>
                                <li><a href="#">Chính sách sản phẩm</a></li>
                                <li><a href="#">Chính sách kiểm hàng</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Footer Block Area End Here -->
                    <!-- Begin Footer Block Area -->
                    <div class="col-lg-2">
                        <div class="footer-block">
                            <h3 class="footer-block-title">Chính sách</h3>
                            <ul>
                                <li><a href="#">Chính sách thành viên</a></li>
                                <li><a href="#">Chính sách hoàn tiền</a></li>
                                <li><a href="#">Chính sách sản phẩm</a></li>
                                <li><a href="#">Chính sách kiểm hàng</a></li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-static-bottom pt-55 pb-55">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- Begin Footer Links Area -->
                    <div class="footer-links">
                        <ul>
                            <li><a href="#">Mua sắm trực tuyến</a></li>
                            <li><a href="#">Khuyến mãi</a></li>
                            <li><a href="#">Đơn hàng của tôi</a></li>
                            <li><a href="#">Giúp đỡ</a></li>
                            <li><a href="#">Dịch vụ khách hàng</a></li>
                            <li><a href="#">Ủng hộ</a></li>
                            <li><a href="#">Phổ biến nhất</a></li>
                            <li><a href="#">Điểm đến mới</a></li>
                            <li><a href="#">Sản phẩm đặc biệt</a></li>
                            <li><a href="#">Nhà sản xuất</a></li>
                            <li><a href="#">Cửa hàng của chúng tô</a></li>
                            <li><a href="#">Vận chuyển</a></li>
                            <li><a href="#">Thanh toán</a></li>
                            <li><a href="#">Bảo hành</a></li>
                            <li><a href="#">Hoàn tiền</a></li>
                            <li><a href="#">Chi trả</a></li>
                            <li><a href="#">Giảm giá</a></li>
                            <li><a href="#">Hoàn tiền trả hàng</a></li>
                            <li><a href="#">Chính sách vận chuyển</a></li>
                        </ul>
                    </div>
                    <!-- Footer Links Area End Here -->
                    <!-- Begin Footer Payment Area -->
                    <div class="copyright text-center">
                        <a href="#">
                            <img src="./images/payment/1.png" alt>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Static Bottom Area End Here -->
</div>
</div>

</body>
</html>